
.login {
  background-color: rgb(167, 167, 167);
  width: 50%;
  height: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 20%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


h1, h2 {
  background-color: transparent;
}

.login-input {
    width: 80%;
  padding: 8px;
    border: none;             
  border-bottom: 2px solid #333;
  background-color: transparent;
}
.nombre-login{
    text-align: left;
    padding-left: 30px;
    padding-top: 10px
    
}

.btn-container{
  display: flex;           
  justify-content: space-between; 
  align-items: center;     
  margin-top: 30px;        
  background-color: transparent;
  
}
.aceptar-btn{
    background-color: #3a3a3a;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    height: 40px;
    width: 40%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    
}
.SignUp-btn{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #3a3a3a;
    border-radius: 20px;
    margin-top: 20px;
    height: 40px;
    width: 40%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
     padding-top: 10px;
}

.Olvide_contraseña-btn{
  background-color: transparent;
  color: black;
  display: block;     
  margin-top: 20px;  
}
 
